.account-container {
    background-image: url('../images/fondoAcoount.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem 0;
}

.account-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    opacity: 0.9;
}