@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h1>Lista de Datos</h1>



<div class="container">


    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text"
               class="form-control"
               name="id_producto"
               id="id_producto"
               aria-describedby="helpId"
               placeholder="" />
        <small id="helpId" class="form-text text-muted">Help text id</small>
    </div>


    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text"
               class="form-control"
               name="nombre"
               id="nombre"
               aria-describedby="helpId"
               placeholder="" />
        <small id="helpId" class="form-text text-muted">Help text name</small>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Descripcion</label>
        <input type="text"
               class="form-control"
               name="descripcion"
               id="descripcion"
               aria-describedby="helpId"
               placeholder="" />
        <small id="helpId" class="form-text text-muted">Help text descripcion</small>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Precio</label>
        <input type="number"
               class="form-control"
               name="precio"
               id="precio"
               aria-describedby="helpId"
               placeholder="" />
        <small id="helpId" class="form-text text-muted">Help text Marca</small>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Stock</label>
        <input type="number"
               class="form-control"
               name="stock"
               id="stock"
               aria-describedby="helpId"
               placeholder="" />
        <small id="helpId" class="form-text text-muted">Help text Marca</small>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Imagen url</label>
        <input type="text"
               class="form-control"
               name="imagen_url"
               id="imagen_url"
               aria-describedby="helpId"
               placeholder="" />
        <small id="helpId" class="form-text text-muted">Help text Marca</small>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Id categoria</label>
        <input type="text"
               class="form-control"
               name="categoria_id"
               id="categoria_id"
               aria-describedby="helpId"
               placeholder="" />
        <small id="helpId" class="form-text text-muted">Help text Marca</small>
    </div>

    <a id="guardarDatos" class="btn btn-primary">Nuevo registro </a>
    <a id="modificarDatos" class="btn btn-success">Actualizar </a>
    <a id="limpiarDatos" onclick="limpiarDatos()" class="btn btn-danger">Limpiar </a>

</div>



<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>imagen_url</th>
                <th>id Categoria</th>
            </tr>
        </thead>
        <tbody id="listaDatos">
       
           

        </tbody>
    </table>
</div>


<script>

    const API_URL = 'https://localhost:7155/Productos';

            function cargarDatos(){
            limpiarDatos();
            $.ajax(
                {
                    url: API_URL,
                    method: 'GET',
                    success: function(dato){
                        console.log(dato);
                        $("#listaDatos").empty();


                            dato.forEach(
                                soyItem =>
                                    {
                                            $("#listaDatos").append(`

                                                <tr>
                                                    <td>${soyItem.id_producto}</td>
                                                    <td>${soyItem.nombre}</td>
                                                    <td>${soyItem.descripcion}</td>
                                                    <td>${soyItem.precio}</td>
                                                    <td>${soyItem.stock}</td>
                                                    <td>${soyItem.imagen_url}</td>
                                                    <td>${soyItem.categoria_id}</td>
                                                    <th>

                                                        <a
                                                            name=""
                                                            id=""
                                                            class="btn btn-primary"
                                                            href="#"
                                                            role="button"
                                                            onclick="cargarEditar('${soyItem.id_producto}','${soyItem.nombre}','${soyItem.descripcion}','${soyItem.precio}'
                                                            ,'${soyItem.stock}','${soyItem.imagen_url}','${soyItem.categoria_id}')"
                                                            >Editar</a
                                                        >

                                                        <a
                                                            name="eliminar"
                                                            id="eliminar"
                                                            class="btn btn-danger"
                                                            data-id="${soyItem.id_producto}"
                                                            role="button"
                                                            >Eliminar</a
                                                        >

                                                    </th>
                                                </tr>
                                            `)
                                        });



                    },
                    error: function(xhr, status, error){
                        console.error("error " + error) ;
                    }

                }
            );
            // $.get(API_URL, function(dato){

            //     console.log(dato);
            //     //??? que no tenga idea ???
            //         dato.forEach( soyItem => {

            //         }
            //     );
            // })
        }




        window.cargarEditar = function (id_producto, nombre, descripcion , precio, stock, imagen_url, categoria_id){
            $('#id_producto').val(id_producto);
            $('#nombre').val(nombre);
            $('#descripcion').val(descripcion);
            $('#precio').val(precio);
            $('#stock').val(stock);
            $('#imagen_url').val(imagen_url);
            $('#categoria_id').val(categoria_id);

            $("#guardarDatos").hide();
            $("#modificarDatos").show();


               //         <a id="guardarDatos" class="btn btn-primary">Nuevo registro </a>
    // <a id="modificarDatos" class="btn btn-success">Actualizar </a>

        }

        window.limpiarDatos = function(){
        //function limpiarDatos(){
            $('#id_producto').val("");
            $('#nombre').val("");
            $('#descripcion').val("");
            $('#precio').val("");
            $('#stock').val("");
            $('#imagen_url').val("");
            $('#categoria_id').val("");

            $("#modificarDatos").hide();
            $("#guardarDatos").show();

        }





        $("#guardarDatos").click(function() {



        const item =
            {
                id_producto: 0,
                nombre: $('#nombre').val(),
                descripcion:  $('#descripcion').val(),
                precio:  $('#precio').val(),
                stock:  $('#stock').val(),
                imagen_url:  $('#imagen_url').val(),
                categoria_id:  $('#categoria_id').val()
            };


            console.log(item);

            $.ajax({
                url: API_URL,
                type: "POST",
                contentType: ' application/json',
                data: JSON.stringify(item),

                success: function(){
                    alert("Salvando");

                    cargarDatos();
                },
                error: function(xhr, status, error){
                            console.error("error " + error) ;
                            console.error("status " + status) ;
                            console.error("xhr " + xhr) ;
                }


            })


        });

        $("#modificarDatos").click(function() {



        const item =
            {
                id_producto: $('#id_producto').val(),
                nombre: $('#nombre').val(),
                descripcion:  $('#descripcion').val(),
                precio:  $('#precio').val(),
                stock:  $('#stock').val(),
                imagen_url:  $('#imagen_url').val(),
                categoria_id:  $('#categoria_id').val()
            };


            console.log(item);

            $.ajax({
                url: API_URL,
                type: "PUT",
                contentType: ' application/json',
                data: JSON.stringify(item),

                success: function(){
                    alert("Salvando");

                    cargarDatos();
                },
                error: function(xhr, status, error){
                            console.error("error " + error) ;
                            console.error("status " + status) ;
                            console.error("xhr " + xhr) ;
                }


            })


        });

        



    $(document).ready(function(){


    //         <a id="guardarDatos" class="btn btn-primary">Nuevo registro </a>
    // <a id="modificarDatos" class="btn btn-success">Actualizar </a>

        cargarDatos();

        $(document).on("click", "#eliminar", function(e) {
         e.preventDefault();

        const id = $(this).data("id")

        const item =
            {
                id_producto: id
            };


            console.log(item);

            $.ajax({
                url: API_URL + "?id=" +id,
                type: "DELETE",
                contentType: ' application/json',
                data: JSON.stringify(item),

                success: function(){
                    alert("Eliminando");

                    cargarDatos();
                },
                error: function(xhr, status, error){
                            console.error("error " + error) ;
                            console.error("status " + status) ;
                            console.error("xhr " + xhr) ;
                }


            })


        });
    });

</script>